.BolumPuan {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ececec;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}

.BolumPuan h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: xx-large;
}

.BolumPuan form {
    margin-bottom: 20px;
    text-align: center;
    display: flex; /* Form elemanlarını yatay düzene sok */
    flex-wrap: wrap; /* Elemanlar sığmazsa alt satıra geç */
    justify-content: center; /* Elemanları yatayda ortala */
}

.BolumPuan label {
    display: block;
    margin-bottom: 5px;
}

.BolumPuan select {
    width: calc(50% - 10px); /* Dropdownların genişliği yarıya indirilir ve aralarında boşluk bırakılır */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.BolumPuan button[type="submit"] {
    width: 20%; /* Düğme genişliği */
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.BolumPuan button[type="submit"]:hover {
    color: #08a250;
    transition: color 0.3s ease;
}

.BolumPuan h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.p1 {
    margin-bottom: 5px;
    text-align: left;
    font-size: medium;
}

.p2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: #08a250;
}
